@font-face {
    font-family: 'Pokemon_Solid';
    src: url('assets/font/Pokemon_Solid.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Black.ttf');
}

.title {
    font-family: 'Pokemon_Solid', serif;
    text-align: center;
    font-size: 40px;
    margin: auto;
    color: blue;
    text-decoration: none;
}

.title:visited {
    color: inherit;
}

body {
    text-decoration: none;
    text-align: center;
    background-color: antiquewhite;
    left: 50%;
}

#paragraph {
    font-family: 'Roboto', serif;
    text-align: center;
    margin: 50px 30px 30px;
    font-size: xx-large;
    left: 50%;
}

#img_to_guess {
    margin-bottom: 20px;
    left: 50%;
}

#pokemon-image {
    width: 500px;
    height: auto;
    left: 50%;
}

#answer {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 20%;
    box-sizing: border-box;
    left: 50%;
}

#answer_message {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #333;
    padding: 10px;
    margin-top: 20px;
}

.userButton {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #4CAF50;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.userButton:hover {
    background-color: #45a049;
}

#userScore {
    font-family: 'Pokemon_Solid', serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
}

.userButton:active {
    background-color: red;
}
